::-webkit-scrollbar { 
	width: 16px;
}
::-webkit-scrollbar-track { 
	background-color: #333;
} 
::-webkit-scrollbar-thumb { 
	background-color: #424e69;
}
::-webkit-scrollbar-thumb:hover { 
	background-color: #8295d5;
}

@font-face { 
	font-family: 'Quadrit'; 
	src: url('../css/Quadrit.ttf'); 
}

* { 
	font-family: Quadrit, sans-serif;
	font-size: 20px;
	color: #fff;
}

html, body { 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
}
html  { 
	background-color: #000;
}
body { 
	position: relative;
}

#panel { 
	width: 550px;
	height: 690px;
	margin: auto;
	margin-top: 10px;
	left: 0px;
	right: 0px;
	position: absolute;
	padding: 5px 10px 10px 10px;
	background-color: #000;
	border: solid 1px #333;
}			
#board, #canvas-paths, #canvas-pacman, #canvas-bubbles { 
	width: 550px;
	height: 550px;
	position: absolute;
}
#canvas-paths { 
	display: none;
}
#board {  
	position: relative;
	border: solid 0px #fff;
	background-image: url('../img/board.png');
	background-repeat: no-repeat;
	background-size: 550px 550px;
	background-color: transparent;
}


h1, h1 em { 
	margin: 0px 0px 30px 0px;
	padding: 0px;
	font-size: 38px;
	letter-spacing: 3px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}
h1 em { 
	color: #fff200;
}
h1 span { 
	color: red;
	padding-left: 170px;
	text-transform: none;
	letter-spacing: 1px;
}


.ui-mobile {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



@media screen and (max-width:1024px), screen and (min-device-width : 768px) and (max-device-width : 1024px) { 

}
@media screen and (max-width:480px), screen and (min-device-width : 320px) and (max-device-width : 480px) { 
	
	h1 { 
		font-size: 30px;
		letter-spacing: 5px;
		-webkit-text-stroke-width: 1px;
	}

	#board { 
		width: 160px;
		height: 260px;
	}
}
